.pagination-menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination-menu .pagination.menu {
    border: none !important;
    box-shadow: none !important;
}

.pagination-menu .pagination.menu .active {
    background-color: #FF762C;
    color: #FFFFFF;
    border-radius: 50px;
}

.pagination-menu .pagination.menu a {
    color: #FF762C;
}